<nav class="d-flex justify-content-between align-items-center" style="font-size: larger;">
    <div><img src="logo-transperent.png" width="100" height="100" alt="logo"></div>
    <div class="d-flex">
        <div class="p-2 dropdown-center">
            <button class="btn btn-outline-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-circle"></i> My <span>Profile&nbsp;</span>
            </button>
            <ul class="dropdown-menu">
              <li><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#profileModal">Edit Profile</button></li>
              <li><button class="dropdown-item" (click)="logout()">Logout</button></li>
            </ul>
          </div>
    </div>
</nav>
